spring.jpa.database-platform=com.jumia.validator.config.SQLDialect
spring.jpa.properties.hibernate.dialect=com.jumia.validator.config.SQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.datasource.hikari.schema=public
spring.datasource.driver-class-name=org.postgresql.Driver
## Postgres connectivity configuration ###
#spring.datasource.url=jdbc:postgresql://172.17.0.5:5432/validator_backend
spring.datasource.url=jdbc:postgresql://{{ db_address }}:5432/jumia_phone_validator
spring.datasource.username={{ db_user }}
spring.datasource.password={{ db_password }}
